# Ignore target directory
target/

# ignore venv directory
venv/

# Ignore IDE/editor-specific files
.vscode/
.idea/
.ccls-cache/

# Ignore operating system and editor backup files
*~
*.swp
.*.swp

# Ignore temporary files
*.tmp

# Ignore environment configuration files
.env

# Ignore dependency-specific files
Cargo.lock
Cargo.toml.orig
Cargo.toml.save

# Ignore Rust-specific files
*.rlib
*.rmeta
*.crate
*.crate.lock
*rustc_info.json